<!-- Primary Meta Tags -->
<title>Dashboard | Rewyre UI</title>
<meta name="title" content="Dashboard | Rewyre UI">
<meta name="description" content="The rewyre-ui plugin for the rewyre framework contains various UI specific modules including a beautiful admin system for other plugins to extend.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://github.com/dannysmc95/rewyre-ui">
<meta property="og:title" content="Dashboard | Rewyre UI">
<meta property="og:description" content="The rewyre-ui plugin for the rewyre framework contains various UI specific modules including a beautiful admin system for other plugins to extend.">
<meta property="og:image" content="https://raw.githubusercontent.com/dannysmc95/rewyre-ui/master/rewyre-ui-logo.svg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://github.com/dannysmc95/rewyre-ui">
<meta property="twitter:title" content="Dashboard | Rewyre UI">
<meta property="twitter:description" content="The rewyre-ui plugin for the rewyre framework contains various UI specific modules including a beautiful admin system for other plugins to extend.">
<meta property="twitter:image" content="https://raw.githubusercontent.com/dannysmc95/rewyre-ui/master/rewyre-ui-logo.svg">