<aside class="sidebar-container" id="sidebar">

	<!-- Header -->
	<section class="sidebar-section header">
		<p class="name"><%= sidebar.name %></p>
	</section>

	<!-- Navigation -->
	<section class="sidebar-section navigation" ref="navinit" data-init="<%= JSON.stringify(sidebar.navigation) %>">
		<nav class="navigation-container" id="navigation">
			<a class="nav-item__container" v-for="item in navigation" :class="{active: isActivePath(item.path)}" :href="item.path">
				<div class="nav-item__icon">
					<i :class="item.icon"></i>
				</div>
				<div class="nav-item__name">
					<p class="text" v-text="item.name"></p>
				</div>
				<div class="nav-item__indicator"></div>
			</a>
		</nav>
	</section>
</aside>
