/*
	Fonts
*/
$primary-font-family: 'Nunito', sans-serif !default;

/*
	Colours
*/
$primary-colour: #35495E !default;
$secondary-colour: #F3BB45 !default;
$tertiary-colour: #F4F3EF !default;
$quaternary-colour: #DDDDDD !default;
$quinary-colour: #FFFFFF !default;

$primary-text-colour: #252422 !default;
$secondary-text-colour: #66615B !default;
$tertiary-text-colour: #9A9A9A !default;
$quaternary-text-colour: #FFFFFF !default;

/*
	Heights & Widths
*/
$header-height: 75px !default;
$sidebar-width: 260px !default;

/*
	Alert Colours
*/
$alert-success-colour: #09a85e !default;
$alert-warning-colour: #41bb11 !default;
$alert-danger-colour: #b62a00 !default;
$alert-notice-colour: #0093c0 !default;
