/*
	Fonts
*/
$primary-font-family: 'Oxanium', cursive !default;
$secondary-font-family: 'Roboto Mono', monospace !default;

/*
	Colours
*/
$primary-colour: #211A1D !default;
$secondary-colour: #648381 !default;
$tertiary-colour: #FB8B24 !default;
$quaternary-colour: #CEA0AE !default;
$quinary-colour: #D2F1E4 !default;

$primary-text-colour: #303030 !default;
$secondary-text-colour: #FFFFFF !default;

/*
	Heights & Widths
*/
$header-height: 60px !default;
$sidebar-width: 250px !default;
$sidebar-width-inactive: 50px !default;

/*
	Alert Colours
*/
$alert-success-colour: #09a85e !default;
$alert-warning-colour: #41bb11 !default;
$alert-danger-colour: #b62a00 !default;
$alert-notice-colour: #0093c0 !default;
